@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap");

$color-primary: hsl(215, 51%, 70%);
$color-secundary: hsl(178, 100%, 50%);
$color-neutral-primary: hsl(217, 54%, 11%);
$color-neutral-secundary: hsl(216, 50%, 16%);
$color-neutral-terciary: hsl(215, 32%, 27%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-font: hsl(215, 21%, 53%);
$font-primary: "Outfit", sans-serif;
